body {
    font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
    color: var(--primary);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    background-color: var(--app-background);
}

::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-500)
}

::-webkit-scrollbar-track {
    background-color: rgba(var(--white-rgb), .10)
}

#initial_startup {
    --startup-background: #f0f2f5;
    --startup-background-rgb: 240, 242, 245;
    --startup-icon: #bbc5cb;
    --secondary-lighter: #8696a0;
    --primary-title: #41525d;
    --progress-primary: #00c298;
    --progress-background: #e9edef
}

.dark #initial_startup {
    --startup-background: #111b21;
    --startup-background-rgb: 17, 27, 33;
    --startup-icon: #676f73;
    --primary-title: rgba(233, 237, 239, 0.88);
    --secondary-lighter: #667781;
    --progress-primary: #0b846d;
    --progress-background: #233138
}

#initial_startup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: #111b21;
}

#initial_startup .graphic {
    margin-top: -40px;
    color: var(--startup-icon)
}

#initial_startup .graphic .resume-logo {
    transform: translateX(calc(50% - 52px / 2))
}

#initial_startup .graphic::after {
    position: relative;
    top: -100%;
    left: calc(50% - 72px * 2 - 72px / 2);
    display: block;
    width: calc(72px * 3);
    height: 100%;
    content: '';
    background: linear-gradient(to right, rgba(var(--startup-background-rgb), .5) 0, rgba(var(--startup-background-rgb), .5) 33.33%, rgba(var(--startup-background-rgb), 0) 44.1%, rgba(var(--startup-background-rgb), 0) 55.8%, rgba(var(--startup-background-rgb), .5) 66.66%, rgba(var(--startup-background-rgb), .5) 100%);
    opacity: 1;
    animation: shimmer 1.5s linear .6s infinite
}

html[dir=rtl] #initial_startup .graphic::after {
    animation-direction: reverse
}

@keyframes shimmer {
    from {
        left: calc(50% - 72px * 2 - 72px / 2)
    }

    to {
        left: calc(50% - 72px / 2)
    }
}

#initial_startup .progress {
    position: relative;
    width: 420px;
    height: 3px;
    margin-top: 40px
}

#initial_startup .progress progress {
    vertical-align: top
}

#initial_startup .main {
    margin-top: 40px;
    font-size: 17px;
    color: var(--primary-title)
}

#initial_startup .secondary {
    margin-top: 12px;
    font-size: 14px;
    color: var(--secondary-lighter)
}

#initial_startup .secondary span {
    display: inline-block;
    margin-bottom: 2px;
    vertical-align: middle
}

progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    margin: 0;
    color: var(--progress-primary);
    background-color: var(--progress-background);
    border: none
}

progress[value]::-webkit-progress-bar {
    background-color: var(--progress-background)
}

progress[value]::-moz-progress-bar,
progress[value]::-webkit-progress-value {
    background-color: var(--progress-primary);
    transition: width .45s ease
}


.spinner-container {
    animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
}

.spinner-container .path {
    stroke-dasharray: 1, 150;
    /* 1%, 101% circumference */
    stroke-dashoffset: 0;
    stroke: rgba(27, 154, 89, 0.7);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
    -webkit-animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        /* 1%, 101% circumference */
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% circumference */
        stroke-dashoffset: -35;
        /* 25% circumference */
    }

    100% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% circumference */
        stroke-dashoffset: -124;
        /* -99% circumference */
    }
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        /* 1%, 101% circumference */
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% circumference */
        stroke-dashoffset: -35;
        /* 25% circumference */
    }

    100% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% circumference */
        stroke-dashoffset: -124;
        /* -99% circumference */
    }
}


.qr-container {
    width: 260px;
    height: 260px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.qr-container img {
    width: 260px;
}

.qr-container.expired img {
    filter: blur(3px);
}

.qr-container .reload-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: none;
}

.qr-container button {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(0, 168, 132);
    color: white;
    flex-direction: column;
}

.qr-container button svg {
    margin-bottom: 10px;
}