body {
    font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
    color: var(--primary);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    background-color: var(--app-background);
}

::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-500)
}

::-webkit-scrollbar-track {
    background-color: rgba(var(--white-rgb), .10)
}

html[dir=rtl] #initial_startup .graphic::after {
    animation-direction: reverse
}


/* ---------------------------------------------- */
/* Whatsapp Loader */
/* ---------------------------------------------- */
.spinner-container {
    animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
}

.spinner-container .path {
    stroke-dasharray: 1, 150;
    /* 1%, 101% circumference */
    stroke-dashoffset: 0;
    stroke: rgba(27, 154, 89, 0.7);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
    -webkit-animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        /* 1%, 101% circumference */
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% circumference */
        stroke-dashoffset: -35;
        /* 25% circumference */
    }

    100% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% circumference */
        stroke-dashoffset: -124;
        /* -99% circumference */
    }
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        /* 1%, 101% circumference */
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% circumference */
        stroke-dashoffset: -35;
        /* 25% circumference */
    }

    100% {
        stroke-dasharray: 90, 150;
        /* 70%, 101% circumference */
        stroke-dashoffset: -124;
        /* -99% circumference */
    }
}
/* ---------------------------------------------- */